<nav id="nav">
    <ul>
        <li><a href="">Spring Boot Single Page Groovy Application</a></li>
        <li><a href="">Spring Boot Gradle MVC CRUD project using Mysql</a></li>
        <li><a href="">Spring Boot Maven MVC CRUD project using Mysql</a></li>
        <li><a href="">Spring Boot Gradle MVC CRUD project using MongoDb</a></li>
        <li><a href="">Spring Boot Gradle REST project setup using Mysql</a></li>
        <li><a href="">Spring Boot Gradle REST project setup using MongoDb</a></li>
        <li><a href="">Spring Boot Spring Security setup</a></li>
        <li><a href="">Spring Boot RabbitMq setup</a></li>
        <li><a href="">Spring Boot Kafka Setup</a></li>
        <li><a href="">Spring Boot Hazelcast Setup</a></li>
        <li><a href="">Spring Boot send email using Java Mail Api</a></li>
        <li><a href="">Spring Boot create Jar of files using Gradle task</a></li>
    </ul>
</nav>

